.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center; /* Centers the table horizontally */
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 80%; /* Adjust this value as needed */
    table-layout: fixed; /* Ensures equal width for all cells */
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ddd; /* Outer border for the table */
}

table thead tr {
    background-color: #f2f2f2;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd; /* Borders between cells */
    font-weight: bold;
    text-align: center; /* Center text in the cells */
    word-wrap: break-word; /* Prevents overflow by breaking long words */
}

table th {
    text-align: center;
}

table tr:hover {
    background-color: #f5f5f5;
}
